<div class="tabs">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Eten </a>
  <a routerLink="/overview" routerLinkActive="active"> Overzicht </a>
  <a routerLink="/consumption" routerLinkActive="active"> Inname </a>
  <a routerLink="/myfood" routerLinkActive="active"> Mijn favorieten </a>
  <a routerLink="/trends" routerLinkActive="active"> Trends </a>
  <a routerLink="/targets" routerLinkActive="active"> Doelen </a>
  <a routerLink="/settings" routerLinkActive="active"> Instellingen </a>
</div>

<router-outlet></router-outlet>